th,
td,
tr {

    width: 35px;
    height: 35px;
    text-align: center;
}
h1,
button,
h2 {
    margin: 20px;
    width: 50px;
    display: inline;
}
thead td {
    background-color: rgb(223, 87, 33);
    font-weight: bold;
}
table {
    width: 380px;
}
button {
    font-weight: bold;
    width: 80px;
    background-color: rgb(212, 207, 205);
}
#time, 
#year {
  
    font-weight: bold;
    display: inline-block;
}
form {
  margin:20px;
  display: inline-block;
}
#str{
  display: inline;
}
#time {
margin: 0;
}
#clock{
  margin: 20px;
  font-size: 25px;
}