table, th, td , tr{
    border: 1px solid black;
    border-collapse: collapse;

    
  }
  th, td , tr{
    
    width: 35px;
    height: 35px;
    text-align: center;
  }
  h1, h2 , button{
    margin:20px;
 
  }
  thead td {
      background-color: rgb(223, 87, 33);
     font-weight: bold;
  }
  table {
      border: 2px solid black;
      width: 380px;
  }

  h2 , button {
    display: inline;
   
  }
  button{
      font-weight: bold;
      width: 80px;
      background-color: rgb(212, 207, 205);
  }
  #time {
    margin-left: 22px;
    font-size: 25px;
    font-weight: bold
  }
  