
input {
    margin: 10px;
    width: 50%;
}
p {
    margin: 10px;
    font-size: 20px;
}
#logo {
    font-weight: bold;
    color: #1DA1F2;
}
#hashTag{
    font-weight: bold;
}
a{
   text-decoration:none;
}